<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.system.dao.LogDao">
	<resultMap id="logResultMap" type="com.system.domain.LogDO">
		<id property="userName" column="user_name"/>
		<id property="createDate" column="create_date"/>
	</resultMap>

	<select id="get" resultType="com.system.domain.LogDO">
		select `id`,`user_id`,`user_name`,`operation`,`time`,`method`,`params`,`ip`,`create_date` from log where id = #{value}
	</select>

	<select id="list" resultMap="logResultMap">
		select `id`,`user_id`,`user_name`,`name`,`operation`,`time`,`method`,`params`,`ip`,`create_date` from log
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="userId != null and userId != ''"> and user_id = #{userId} </if>
		  		  <if test="userName != null and userName != ''"> and user_name = #{userName} </if>
		  		  <if test="operation != null and operation != ''"> and operation = #{operation} </if>
		  		  <if test="time != null and time != ''"> and time = #{time} </if>
		  		  <if test="method != null and method != ''"> and method = #{method} </if>
		  		  <if test="params != null and params != ''"> and params = #{params} </if>
		  		  <if test="ip != null and ip != ''"> and ip = #{ip} </if>
		  		  <if test="createDate != null and createDate != ''"> and create_date = #{createDate} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from log
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="userId != null and userId != ''"> and user_id = #{userId} </if>
		  		  <if test="userName != null and userName != ''"> and user_name = #{userName} </if>
		  		  <if test="operation != null and operation != ''"> and operation = #{operation} </if>
		  		  <if test="time != null and time != ''"> and time = #{time} </if>
		  		  <if test="method != null and method != ''"> and method = #{method} </if>
		  		  <if test="params != null and params != ''"> and params = #{params} </if>
		  		  <if test="ip != null and ip != ''"> and ip = #{ip} </if>
		  		  <if test="createDate != null and createDate != ''"> and create_date = #{createDate} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.system.domain.LogDO">
		insert into log
		(
			`id`, 
			`user_id`, 
			`user_name`, 
			`operation`, 
			`time`, 
			`method`, 
			`params`, 
			`ip`, 
			`create_date`,
			`name`
		)
		values
		(
			#{id}, 
			#{userId}, 
			#{userName}, 
			#{operation}, 
			#{time}, 
			#{method}, 
			#{params}, 
			#{ip}, 
			#{createDate},
			#{name}
		)
	</insert>
	 
	<update id="update" parameterType="com.system.domain.LogDO">
		update log 
		<set>
			<if test="userId != null">`user_id` = #{userId}, </if>
			<if test="userName != null">`user_name` = #{userName}, </if>
			<if test="operation != null">`operation` = #{operation}, </if>
			<if test="time != null">`time` = #{time}, </if>
			<if test="method != null">`method` = #{method}, </if>
			<if test="params != null">`params` = #{params}, </if>
			<if test="ip != null">`ip` = #{ip}, </if>
			<if test="createDate != null">`create_date` = #{createDate}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from log where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from log where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>